<!--  Replace top menu links here -->

<li class="nav-item">
    <a class="nav-link active" href="{{site.baseurl}}/">Home</a>
</li>
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work</a>
	<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
		<span class="dropdown-item">
			<a class="dropdown-item" href="{{site.baseurl}}/flash">Flash</a>
			<a class="dropdown-item" href="{{site.baseurl}}/one_and_done">One & Done</a>
			<a class="dropdown-item" href="{{site.baseurl}}/work">Previous Work</a>
		</span>
	</div>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about">About</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href=https://form.jotform.com/241105819271149>Book</span></a>
</li>